*-ext.properties
.ant_targets
.sass-cache/
.sass_cache_*.css
_sass_cache_*.css
/.settings


/*/*/bin
/*/*/classes
/*/*/tmp

/docroot/WEB-INF/classes
/docroot/WEB-INF/lib/portal-compat-client.jar
/docroot/WEB-INF/src/META-INF/log4j.dtd

/build.*.properties
/dist
.refactorings/2014/6/23/refactorings.history
.refactorings/2014/6/23/refactorings.index
